.landing{
    height: calc(100vh - 128px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: fit-content;
    gap: 40px;
}
.landing .right{
    order: 1;
}

.landing .left{
    order: 2;
}
.landing .right .images{
    order: 2;
}
.landing .right .textbox{
    order: 1;
}


.landing .right img:first-of-type{
    border-top-left-radius: 80px;
    border-top-right-radius: 15px;
}
.landing .right img:nth-of-type(2){
    box-shadow: 0 5px 20px 10px #b7b6b6;
}

@media (min-width: 640px) {
  .landing {
    height: calc(100vh - 94.17px);
    flex-direction: row;
  }
  .landing .right {
    order: 2;
  }
    .landing .left {
        order: 1;
    }
    .landing .right .textbox{
        order: 2;
    }
}